body{
    padding: 0%;
    margin: 0%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

.encabezadoPrincipal,footer {
    background-color: rgb(51, 24, 168);
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color:white;
    font-weight: bolder;
    text-align: center;
}
footer p, .subEncabezado h3{
    text-align: left;
    margin-inline: 10px
}

.subEncabezado{
    color: rgb(24, 24, 119);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid ;
}

#materias{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#materias1{
    grid-template-columns: repeat(1, 900px);
    grid-template-rows: repeat(8, 90px);
    border-bottom: 1px;
    padding: 2rem;
}

.articulos{
    background-color: rgb(100, 100, 177);
}
.articulos, .articulosClickReprobado{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(2, 500px);
    padding: 2rem;
    margin: 0;
    color: rgb(36, 36, 90);
    font-weight: bolder;
}

.botton{
    background-color: rgb(36, 36, 90);
}

.botton, .bottonClickReprobado{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    margin-bottom: 2rem;
}

.bottonClickReprobado, .articulosClickReprobado{
    background-color: rgb(143, 15, 15);
    color: white;
}
.articulosClickReprobado{
    background-color: rgb(167, 33, 33);
}

.inputs p{
    display: inline-block;
    width: 53%;
    margin-inline: 2px;
}
.inputs{
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: repeat(2, 100%);
    justify-content: center;
    align-items: center;
}
.inputs div{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: fit-content;
    margin-inline: none;
}